.registrationBox {
  display: flex;
  flex-direction: column;
  border: 1px solid slategrey;
  border-radius: 5px;
  padding: 20px;
  .firstTextField {
    margin-right: 3%;
  }

  .passwordBox, .nameBox {
    display: flex;
  }

  .nameBox, .emailAddressField {
    margin-bottom: 3%;
  }

  .registrationButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .fieldWidth, .emailAddressField {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .registrationBox {
    width: 85%;
  }
}
